<div class="pages">
  <form ng-submit="form.validateAndSubmit()">
    <div class="section">
      <label for="email:">Email:</label>
      <input ng-model="form.user.emailId" id="email" type="email" name="email" value="" required>
    </div><br>
    <div class="section">
      <label for="pswrd">Password:</label>
      <input ng-model="form.user.password" id="pswrd" type="password" name="password" value="" required>
    </div><br>
    <input type="submit" name="" value="Login">
  </form>
</div>
