.main{
  display: flex;
}
.pages{
  margin: auto;
}
.section{
  display: flex;
}
input{
  flex:1;
}
label{
  flex: 1;
}
form{
  width: 500px;
  text-align: center;
  padding: 30px;
  background-color: lightblue;
}
